<!DOCTYPE html>
<html>
<head>
  <title>Pro</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.growl.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>

  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/shop-homepage.css" />
  <link rel="stylesheet" href="/stylesheets/shop-item.css" />
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css" />
  <link href="/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <%= render "/layouts/nav" %>
  <div class="container">
   <%# if user_signed_in? %> 
   <!-- welcome <%#= current_user.email %>  -->
   <!-- <%#= link_to "Your Cart(#{current_user.cart_line_items.pluck(:quantity).inject(:+)})", cart_line_items_path %> | -->
   <!-- <%#= link_to "Your Wishlist Cart(#{current_user.wishlist_items.count})", wishlist_items_path %> | -->
   <!-- <%#= link_to "Addresses", addresses_path %> | -->
   <!-- <%#= link_to "Account Setting", edit_user_registration_path %>  | <%#= link_to "Logout", destroy_user_session_path, method: :delete %> |  -->
   <%# else %>
   <!-- <%#= link_to "Register", new_user_registration_path %> | <%#= link_to "Login", new_user_session_path %> |  -->
   <%# end %>

   <!-- <%#= link_to "Categories", categories_path %> | -->
   <!-- <%#= link_to "Products", products_path%> | -->
   <!-- <%#= link_to "Home", say_hello_path%> | -->
   <!-- <%#= link_to "About Us", say_goodbye_path%> | -->
   <!-- <%#= link_to "Google", "http://www.google.com", :target => "_blank"%> | -->
   <!-- <%#= link_to "Gmail", "http://www.gmail.com", :target => "_blank"%> | -->
   <%#= link_to "DCT", "http://www.dctacademy.com", :target => "_blank"%>
   <br/>

   <%= notice %>
   <%= alert %>

   <%= yield %>
 </div>
 <%# if user_signed_in? %>
 <!-- <p> You current IP (<%#= current_user.current_sign_in_ip %>) </p> -->
 <%# end %>
</body>
</html>
